Package: GoveeBTTempLogger
Version: 2.20230830-1
Section: custom
Priority: optional
Architecture: armhf
Essential: no
Installed-Size: 95
Maintainer: wcbonner@users.noreply.github.com
Description: Listen and log Govee Thermometer Bluetooth Low Energy Advertisments
Depends: libbluetooth3
Homepage: https://github.com/wcbonner/GoveeBTTempLogger
