---
name: CI

on:
  - push

jobs:
  Build:
    name: Build (ubuntu-${{ matrix.image_tag }}) (${{ matrix.compiler }})

    runs-on: ubuntu-${{ matrix.image_tag }}

    strategy:
      fail-fast: false
      matrix:
        image_tag:
          - 20.04
          - 22.04
          - 22.04-arm

        compiler:
          - GNU
          - LLVM

    env:
      CXX: ${{ matrix.compiler == 'LLVM' && 'clang++' || 'g++' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get -qq update
          sudo apt-get -qq install \
            libbluetooth-dev \
            libdbus-1-dev \
            cmake \
            ${{ matrix.compiler == 'LLVM' && 'clang' || 'g++ gcc' }}

      - name: Configure
        run: cmake -S . -B build

      - name: Build
        run: cmake --build build --config Release

      - name: Test
        working-directory: build
        run: ctest --verbose

      - name: Make `deb` file
        working-directory: build
        run: cpack .

      - name: Upload `deb` file
        uses: actions/upload-artifact@v4
        with:
          name: ubuntu-${{ matrix.image_tag }} ${{ matrix.compiler }}
          path: build/goveebttemplogger_*.deb
